/*
 * Copyright (C) 2024 Variscite Ltd. - https://www.variscite.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "imx6ull.dtsi"

#include "imx6ull-var-som.dtsi"
#include "imx6ul-imx6ull-var-som-emmc.dtsi"

#include "imx6ull-var-som-concerto-board.dtsi"
#include "imx6ul-imx6ull-var-som-concerto-board-sd-card.dtsi"

/ {
	model = "Variscite VAR-SOM-6UL with i.MX6ULL, eMMC, SD card & WM8904 support on Concerto-Board";
	compatible = "variscite,imx6ul-var-som", "fsl,imx6ull";
    regulators {
        compatible = "simple-bus";
        #address-cells = <1>;
        #size-cells = <0>;
    };

};
&ecspi4 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio2 15 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi4>;
	status = "okay";

	spidev@0 {
               compatible = "var,spidev";
               spi-max-frequency = <12000000>;
               reg = <0>;
        };
};
&iomuxc {
	pinctrl_ecspi4: ecspi4grp {
		fsl,pins = <
			MX6UL_PAD_ENET2_TX_EN__ECSPI4_MOSI	0x100b1 /* from J16.8 */
			MX6UL_PAD_ENET2_TX_CLK__ECSPI4_MISO	0x100b1 /* from J16.6 */
			MX6UL_PAD_ENET2_TX_DATA1__ECSPI4_SCLK	0x100b1 /* from J16.2 */
			MX6UL_PAD_ENET2_RX_ER__GPIO2_IO15	0x100b1 /* from J16.4 */
		>;
	};

};

&gpio5 {
    bt_disable {
        gpio-hog;
        gpios = <4 GPIO_ACTIVE_HIGH>;
        output-low;  /* Pull GPIO5[4] LOW to disable BT */
        line-name = "bt_disable";
    };
};

&uart2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart2>;
    fsl,uart-has-rtscts;
    status = "okay";
};
&usbotg1 {
    vbus-supply = <&reg_usb_otg1_vbus>;
    pinctrl-names = "default";
    dr_mode = "otg";
    status = "okay";
};

